@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
header {
	background-color: #FF4500  ; 
	font-size: 50px ;
}
header .box {
	height: 70px  ;
	background-color: #FF4500  ;
	border-radius: 15px  ;
	border: 3px solid black  ;
}
header .box :hover {
	background-color: #FF0000  ;
}
header a {
	color: #000000  ;
	text-decoration: none;
	cursor: all; 
	display: inline-block;
	width: 100%  ;
	height: 100%  ;
}
